*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #0b1a27;
  background: transparent;
}
a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

svg {
  background-color: transparent;
}

.container {
  margin: 0 auto;
  /* min-width: 375px; */
  max-width: 375px;
  padding: 0 5px 5px 5px;
}
section {
  padding: 0px; /*тільки вгору або вниз */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Neway-Grup-vakansii */
.menu-list {
  display: none;
}

/* Neway-Grup-header */
.header-container {
  padding-bottom: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 175px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-list {
  display: none;
}

.button-menu {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #0b1a27;
  padding: 8.5px 12.5px;
}

.main-logo {
  font-weight: 500;
  font-size: 8px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #016bff;
}

.logo-icon {
  border-radius: 100%;
  fill: #016bff;
}

.two-section-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* font-family: HelveticaNeueCyr; */
  text-align: center;
  background: linear-gradient(
    200.57deg,
    #25dbf1 0%,
    #1470f5 53.69%,
    #0c3ff2 100.38%,
    #042896 153.42%
  );
  width: 375px;
  /* height: 1546px; */
  gap: 10px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
  border-radius: 10px;
}

.two-section-container-h {
  font-weight: 550;
  font-size: 24px;
  line-height: 100%;
}

.two-section-container-p {
  font-weight: 550;
  font-size: 15px;
  line-height: 100%;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button-two-section-container {
  border-radius: 111px;
  font-weight: 400;
  font-size: 12px;
  line-height: 110.00000000000001%;
  padding: 10px 30px;
  min-width: 157px;
  height: 35px;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(255, 255, 255, 1);
}

.icon-two {
  color: rgba(11, 26, 39, 1);
}

.icon-button-two-section-container {
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 111px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-link {
  font-weight: 550;
  font-size: 15px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.two-section-container-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.two-section-container-li {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  max-width: 155px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.card-img {
  margin-bottom: 10px;
}

.card-name {
  font-weight: 400;
  font-size: 15.26px;
  margin-bottom: 10px;
}

.card-email {
  font-weight: 400;
  font-size: 10px;
  line-height: 110.00000000000001%;
  margin-bottom: 39px;
}

.card-email-two {
  margin-bottom: 60px;
}

.card-region-title {
  font-weight: 550;
  font-size: 10px;
  line-height: 110.00000000000001%;
  margin-bottom: 10px;
}

.card-region-title-p {
  font-weight: 550;
  font-size: 10px;
}

.card-regions {
  font-weight: 400;
  font-size: 10px;
  line-height: 110.00000000000001%;
  color: rgba(11, 26, 39, 0.4);
}

/* кнопки */

.tabs {
  margin-top: 25px;
  display: flex;
  gap: 2.5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 550;
  font-size: 10px;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  color: rgba(11, 26, 39, 1);
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.tab {
  padding: 10px;
  border-radius: 1px;
}

.tab:hover {
  background-color: rgba(11, 26, 39, 1);
  color: rgba(255, 255, 255, 1);
}

.tab:focus {
  background-color: rgba(11, 26, 39, 1);
  color: rgba(255, 255, 255, 1);
}

/* В стилях додаємо накладку для мобільного меню */
.mobile-menu-overlay {
  display: none; /* Спочатку накладка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; /* Щоб вона була поверх основного контенту */
}

.mobile-menu.open ~ .mobile-menu-overlay {
  display: block; /*Показати накладку, коли меню відкрите  */
}

/* Мобільне меню */
.mobile-menu {
  padding: 15px 15px;
  position: fixed;
  top: 0;
  right: -100%; /* Початково приховане за межами екрану */
  width: 100%;
  height: 80%;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
  right: 0; /* Відкривається в межах екрану */
}

.close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  width: 45px;
  height: 45px;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.language-switcher {
  display: flex;
  gap: 17px;
  padding: 11.5px 15px;
}

.lang-btn {
  padding: 0px;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  color: rgba(11, 26, 39, 0.35);
}

.lang-btn:hover {
  color: rgba(1, 107, 255, 1);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mobile-menu-link {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(243, 243, 243, 1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 15px;
  cursor: pointer;
}

.mobile-menu-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(11, 26, 39, 1);
}

.mobile-menu-link:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(11, 26, 39, 1);
}

/* Підменю на весь екран */
.submenu-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #fff;
  z-index: 9999;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.button-sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.submenu-fullscreen.open {
  display: block;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submenu-list li {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(243, 243, 243, 1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 15px;
  cursor: pointer;
}

.submenu-list li:focus {
  color: rgba(1, 107, 255, 1);
}

.submenu-list li:hover {
  color: rgba(1, 107, 255, 1);
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.close-submenu {
  padding: 0px;
}
