*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0b1a27;
  background: transparent;
}
a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

svg {
  background-color: transparent;
}

.container {
  margin: 0 auto;
  min-width: 375px;
  /* max-width: 375px; */
  padding: 0 5px 5px 5px;
}
section {
  padding: 0px; /*тільки вгору або вниз */
}

@media only screen and (min-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 15px 15px 15px;
  }
  section {
    padding: 0px; /*тільки вгору або вниз */
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Neway-Grup-header */
.language-switcher-dector,
.avatar-image-dector,
.icon-dector {
  display: none;
}

.header-container {
  padding-bottom: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
  gap: 175px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-list {
  display: none;
}

.button-menu {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #0b1a27;
  padding: 8.5px 12.5px;
}

.main-logo {
  font-weight: 500;
  font-size: 8px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #016bff;
}

.logo-icon {
  border-radius: 100%;
  fill: #016bff;
}

/* one-section */
.one-section-container {
  font-family: HelveticaNeueCyr;
  background: url("../images/375(2).png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 1031px;
  border-radius: 15px;
}

.little-one-section-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  backdrop-filter: blur(55px);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 20px 15px;
  min-height: 447px;
  position: relative;
  top: 5px;
}

.avatar-image {
  background-color: transparent;
  min-width: 131px;
}

.little-one-section-container-h {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: left;
}

.little-one-section-container-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 110.00000000000001%;
}

.h-span,
.p-span {
  color: #016bff;
}

.button-all-little-one-section-container {
  display: flex;
}

.button-little-one-section-container {
  border-radius: 111px;
  padding: 11px 30px;
  max-width: 224px;
  height: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  background: #016bff;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 111px;
  background-color: #0b1a27;
  width: 35px;
  height: 35px;
  padding: 0px;
}

.icon {
  background-color: #0b1a27;
  fill: #fff;
  border-radius: 111px;
}

/* В стилях додаємо накладку для мобільного меню */
.mobile-menu-overlay {
  display: none; /* Спочатку накладка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.mobile-menu.open ~ .mobile-menu-overlay {
  display: block; /*Показати накладку, коли меню відкрите  */
}

/* Мобільне меню */
.mobile-menu {
  padding: 15px 15px;
  position: fixed;
  top: 0;
  right: -100%; /* Початково приховане за межами екрану */
  width: 100%;
  height: 80%;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
  right: 0; /* Відкривається в межах екрану */
}

.close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  width: 45px;
  height: 45px;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.language-switcher {
  display: flex;
  gap: 17px;
  padding: 11.5px 15px;
}

.lang-btn {
  padding: 0px;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -0.02em;
  color: rgba(11, 26, 39, 0.35);
}

.lang-btn:hover {
  color: rgba(1, 107, 255, 1);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mobile-menu-link {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -0.02em;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(243, 243, 243, 1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 15px;
  cursor: pointer;
}

.mobile-menu-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(11, 26, 39, 1);
}

.mobile-menu-link:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(11, 26, 39, 1);
}

/* Підменю на весь екран */
.submenu-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #fff;
  z-index: 9999;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.button-sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.submenu-fullscreen.open {
  display: block;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submenu-list li {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -0.02em;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(243, 243, 243, 1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 15px;
  cursor: pointer;
}

.submenu-list li:focus {
  color: rgba(1, 107, 255, 1);
}

.submenu-list li:hover {
  color: rgba(1, 107, 255, 1);
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.close-submenu {
  padding: 0px;
}

/* Під-підменю */

.subsubmenu-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow-y: auto;
  z-index: 1000;
  display: none;
  flex-direction: column;
  padding: 20px;
}

.subsubmenu-fullscreen.open {
  display: flex;
}

.submenu-item,
.subsubmenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu-item .menu-icon,
.subsubmenu-item .menu-icon {
  margin-left: auto;
  display: inline-block;
  flex-shrink: 0;
}

.subsubmenu-list li {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: -0.02em;
  color: rgba(11, 26, 39, 1);
  background-color: rgba(243, 243, 243, 1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 15px;
  cursor: pointer;
}

/* хеадер */

@media only screen and (min-width: 1920px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    margin-left: 50px;
    font-weight: 550;
    font-size: 16px;
  }

  .menu-list {
    display: flex;
    gap: 5px;
  }

  .menu {
    padding: 15px 0px;
    align-items: center;
  }

  .menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;
    padding: 25px 25px 25px 25px;
  }

  .language-switcher-dector {
    display: flex;
    position: relative;
  }

  .language-list-dector {
    position: absolute; /* щоб не зсувало інші елементи */
    top: 100%; /* знизу під кнопкою */
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0;
    margin: 0;
    z-index: 1000;
    display: none;
  }

  .menu-link-dector {
    display: flex;
    align-items: center;
    padding: 20px 45px 20px 25px;
    font-family: HelveticaNeueCyr;
    font-weight: 400;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;
    gap: 10px;
  }

  /* Секція */
  .one-section-container {
    background: url("../images/1920(2).png");
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1960px;
    border-radius: 20px;
  }

  .little-one-section-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    backdrop-filter: blur(55px);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 20px 15px;
    width: calc(100% - 35px);
    margin: 0 auto;
    position: relative;
    top: 35px;
    min-height: 657px;
  }

  .little-one-section-container-h {
    font-size: 80px;
    text-align: center;
    max-width: 1050px;
  }

  .little-one-section-container-p {
    text-align: center;
    font-size: 24px;
    max-width: 570px;
  }

  .avatar-image {
    display: none;
  }

  .avatar-image-dector {
    display: block;
  }

  .button-little-one-section-container {
    padding: 22px 60px;
    max-width: 447px;
    height: 70px;
    font-size: 24px;
  }

  .icon-button {
    width: 70px;
    height: 70px;
  }

  .icon {
    display: none;
  }

  .icon-dector {
    display: block;
  }

  /* Загальний стиль для підменю */

  /* Загальний стиль контейнера підменю */
  .desktopSubmenuFullscreen {
    position: fixed; /* Фіксоване позиціонування для покриття екрану */
    top: 96px; /* Починається нижче хедера (змініть значення відповідно до висоти хедера) */
    left: 0;
    width: 100vw;
    height: calc(100vh - 96px); /* Висота екрану мінус висота хедера */
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;

    display: none; /* По замовчуванню сховано */
    flex-direction: row; /* Вміст розташовується в ряд */
  }

  /* Якщо додати клас .open – підменю відображається */
  .desktopSubmenuFullscreen.open {
    display: flex;
    flex-direction: row;
  }

  /* Панель зі списком (25% ширини) */
  .submenu-panel {
    width: 25%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid rgba(234, 234, 234, 1);
    background-color: #6b6363;
  }

  /* Панель з додатковим вмістом (75% ширини) */
  /* .submenu-panel-two {
    width: 75%;
    height: 100%;
    background-color: #a02a2a;
    padding: 20px;
  } */
}
